<p id="notice"><%= notice %></p>
<%= @article.title%><br>
<%= @article.body%>
<hr>
</p>
<h2>Comments</h2>
<% for comment in @article.comments %>
    <%= comment.body %>
    <hr />
<% end %>
<%= form_for [@article, Comment.new], :action =>"create" do |f| %>
<p>
  <%= f.label :body, "New comment" %><br/>
  <%= f.text_area :body %>
  <%= f.hidden_field :post_id, :value => @article.id %>
</p>
<p><%= f.submit "Add comment" %></p>
<% end %>